.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0;
    background-color: #082448;
    height: 324px;
    width: 100%;
    z-index: 20;
    transition: top 0.2s linear;
    color: white;
}

.column {
    display: flex;
    gap: 30px;
}

.col{
    margin: 7px;
}

.col h3{
    margin: 10px;
    font-weight: 700;
}

.col p{
    margin: 10px;
    font-weight: 500;
}

.img{
    width: 200px;
    left: -20px;
}